body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightgray;
}

div {
    margin: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#imageSelect {
    width: 100%;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}
